[v-cloak]{
    display: none;
}
.tabBars{
    width:50%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.tabs{
    padding: 0 15px;
    cursor: pointer;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    border-right: 1px solid bisque;
    border-top: 1px solid bisque;
}
.tabs.active{
    color: blue;
    background-color: aliceblue;
}
.tabs:hover{
    color: blue;
    background-color: aliceblue;
}
.tabs:first-child{
    border-left:1px solid bisque;
    border-top-left-radius: 6px;
}
.tabs:last-child{
    border-top-right-radius: 6px;
}
.closeButton{
    font-size: 14px;
    margin-left: 10px;
}
.tabContent{
    padding: 15px;
    border: 1px solid bisque;
}